@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.navbar {
    font-family: 'Montserrat', sans-serif;
    
}
.navbar-brand {
    padding-left: 35px;
}
.navbar-nav {
    padding: 20px;
   
}
.nav-item {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 110%;
    
}
.nav-link {
    color: white;
    letter-spacing: 2px;
}
.offcanvas {
	background-color: #585481;
}
.offcanvas-title {
    color: white;
}
body {
    background-color: #B4C5E4;
    /* background-image: linear-gradient(to bottom right, #5F506B, #6A6B83, #76949F); */
}
h1 {
    text-align: center;
    padding: 70px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: 80px;
    color: #B3AF8F;
    -webkit-text-stroke: 0.9px black;
}
#main {
    padding: 100px;
    padding-bottom: 50px;
}
#footer {
    background-color: #585481;
    color: white;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
    /* margin-bottom: 0px; */
}
img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.big {
    text-align: center;
    font-size: 22px;
    margin-top: 50px;
    margin-bottom: 	50px;
    color: black;
}
.small {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
